{% extends "base.html" %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sobre nós</h1>
            <span class="subheading"> <i class="fas fa-envelope"></i> <span style="vertical-align: top;">antilopesdarochaquebrada@gmail.com</span></span>
            <span class="subheading"> <i class="fab fa-instagram"></i> <span style="vertical-align: top;">antilopesdarochaquebrada</span></span>
            <span class="subheading"> <i class="fab fa-twitch"></i> <span style="vertical-align: top;">antilopesrocha</span></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      </div>
    </div>
  </div>

  <hr>
{% endblock %}