{% extends "base.html" %}

{% block content %}
    <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/post-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{metainfos.title[0]|safe}}</h1>
                        <h2 class="subheading">{{metainfos.subtitle[0]|safe}}</h2>
                        <span class="meta">Posted by
                  <a href="#">{{metainfos.authors[0]|safe}}</a>
                  on {{metainfos.date[0]|safe}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  {{content|safe}}
                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %}